
section.navigation
  h2.navigation__title.hidden="Choississez votre profil"
  div.navigation__container
    article.profil.profil--tds
      div.profil__box
        h3.profil__tile="Travailleur du sexe"
        ul.profil__list
          li.profil__element
            a.profil__link(href="#")="Nos services"
          li.profil__element
            a.profil__link(href="#")="La législation sur la prostitution"
          li.profil__element
            a.profil__link(href="#")="Infos vaccination et dépistage"
          li.profil__element
            a.profil__link(href="#")="Demander le passage d'une équipe"
          li.profil__element
            a.profil__link(href="#")="Retrouver votre code de vaccination"
          li.profil__element
            a.profil__link(href="#")="Quand la capote éclate"
          li.profil__element
            a.profil__link(href="#")="Fellation sans préservatif"
          li.profil__element
            a.profil__link(href="#")="Hygiène du vagin"
          li.profil__element
            a.profil__link(href="#")="Brochure ( PDF en téléchargement)"
    article.profil.profil--etudiants
      div.profil__box
