doctype html
html(lang="fr")
    head
      <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
      <![endif]-->
        meta(charset="utf-8")
        meta(name="description", content="Espace P… | Association pour la défense des droits des personnes prostituées")
        meta(name="viewport",content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
        title= "EspaceP... - Étudiant"
        link(rel='stylesheet', href='css/main.css', type='text/css')
    include template/header.pug

      main
        div.header__mainContainer
          section.choix.choix--etudiant
            h2.choix__title="Étudiant"
            p.choix__subtitle="Pour toute question concernant un stage, une intervention scolaire ou si vous avez simplement des interrogations sur nos actions, consultez cette section"
          div.choix__image.choix__image--etudiant
            p.hidden="Image représentant un homme qui est dans les bras d'une Travailleuse du sexe, plein de tendresse dans cette image"


        div.actuality__container
          aside.aside#sticky
            ul.aside__list.aside__list--etudiant
              li.aside__element
                a.aside__link(href="#poinfort",title="Aller vers les points fort")="Point fort de notre manifeste"
              li.aside__element
                a.aside__link(href="#legislation",title="Aller vers les points fort")="le point sur notre législation"
              li.aside__element
                a.aside__link.aside__link--button(href="#stage",title="Aller vers la section stage")="Stage et intervention"
          aside.aside.aside--responsive
            ul.aside__list.aside__list--etudiant
              li.aside__element
                a.aside__link(href="#poinfort",title="Aller vers les points fort")="Point fort de notre manifeste"
              li.aside__element
                a.aside__link(href="#legislation",title="Aller vers les points fort")="le point sur notre législation"
              li.aside__element
                a.aside__link.aside__link--button(href="#stage",title="Aller vers la section stage")="Stage et intervention"

          section.rapportContent
            h2.hidden="Texte sur les sympathisant"

            article.actuality__article#poinfort
              h3.article__title="Titre du paragraphe"
              p.article__text.article__text--rapport="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eget scelerisque nisi. Nullam varius dui et hendrerit dignissim. Aliquam vel augue in massa auctor feugiat. Vivamus ullamcorper sollicitudin lacus eget molestie. Aenean eu sem justo. Praesent consectetur, leo in commodo tristique, ex odio iaculis ligula, vel commodo felis dolor imperdiet mi. Praesent a felis blandit lorem tincidunt luctus id eu ante. Aliquam erat volutpat. Vivamus a diam eleifend, sodales libero ut, aliquet enim. In at augue magna. Morbi porta rutrum nulla, quis eleifend urna faucibus nec. Donec id maximus arcu, in sodales nulla. Quisque ornare ipsum ut nisi hendrerit fermentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit."
            article.actuality__article#legislation
              h3.article__title="Titre du paragraphe"
              p.article__text.article__text--rapport="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eget scelerisque nisi. Nullam varius dui et hendrerit dignissim. Aliquam vel augue in massa auctor feugiat. Vivamus ullamcorper sollicitudin lacus eget molestie. Aenean eu sem justo. Praesent consectetur, leo in commodo tristique, ex odio iaculis ligula, vel commodo felis dolor imperdiet mi. Praesent a felis blandit lorem tincidunt luctus id eu ante. Aliquam erat volutpat. Vivamus a diam eleifend, sodales libero ut, aliquet enim. In at augue magna. Morbi porta rutrum nulla, quis eleifend urna faucibus nec. Donec id maximus arcu, in sodales nulla. Quisque ornare ipsum ut nisi hendrerit fermentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit."


      include template/_footer.pug
