doctype html
html(lang="fr")
    head
      <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
      <![endif]-->
        meta(charset="utf-8")
        meta(name="description", content="Espace P… | Association pour la défense des droits des personnes prostituées")
        meta(name="viewport",content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
        title= "EspaceP... - Manifeste"
        link(rel='stylesheet', href='css/main.css', type='text/css')
    include template/header.pug

      main
        section.headManifeste
          p.headManifeste__subtitle="Nous défendeons les droits de tous, homme, femme, transgenre"
          h2.headManifeste__title="Adhérez à notre manifeste"
          a.headManifeste__link(href="#signer",title="Aller vers la section pour signer notre manifeste")="Signez notre manifeste"

        div.actuality__container
          section.rapportContent
            h2.hidden="Contenu du manifeste"

            section.manifeste__section
              h3.manifeste__title="Constat"
              article.actuality__article.actuality__article--manifeste
                h4.manifeste__subtitle
                  span.manifeste__number="01 /"
                  ="Un regard souvent plus stigmatisant sur les tds et leur clients"
                p.manifeste__text="Nous constatons qu’une part importante des travailleurs sexuels prend la décision de travailler dans le commerce du sexe de son plein gré. Nous constatons l’amalgame qui est pourtant souvent fait entre le travail sexuel et la traite des êtres humains voire la pédophilie, amenant à considérer que tous les travailleurs sexuels sont victimes de proxénètes et de pervers. "
                p.manifeste__text="Nous constatons par ailleurs sur le terrain la complexité et la variété des motivations des travailleurs du sexe où interviennent tant des considérations économiques et sociales incontournables (non accès à un travail déclaré ou à une aide sociale, endettement, etc…) que des enjeux psychologiques dont nous n’avons pas à juger la pertinence. Parallèlement, nous constatons la diversité des motivations et des comportements des clients. Les TDS témoignent du fait que la violence et le mépris par les clients ne sont ni l’apanage du métier ni la norme. Nous dénonçons une certaine vision stigmatisante qui placerait le client en position de proxénète ou d’exploiteur."

                p.manifeste__text="Dès l’instant où un client se comporte avec respect et use d’un discernement raisonnable (en évitant notamment la prostitution de mineurs ou de victimes manifestes), nous estimons que le droit constitutionnel de deux personnes majeures et consentantes à disposer de leur corps comme elles l’entendent, y compris dans un contexte de rémunération, prime sur toute autre considération morale ou sécuritaire. A ces conditions, le client ne doit faire l’objet d’aucune mesure d’exception (ni fi chage, ni poursuite, etc…)."


              article.actuality__article
                h3.manifeste__subtitle
                  span.manifeste__number="02 /"
                  ="Non respect, insécurité et traite des êtres humains "
                p.manifeste__text="Nous constatons le manque de sécurité et le manque de respect dont sont victimes certains TDS et clients sur les lieux de travail et aux alentours. Le fait de laisser se délabrer les quartiers où s’exerce le travail du sexe et/ou de chasser les TDS après rénovation renforce le regard négatif des citoyens sur les TDS."

                p.manifeste__text="Nous constatons que beaucoup de TDS sont victimes de la traite des êtres humains, notamment dans le cadre d’un parcours migratoire. Il existe un statut de victime, assorti de droits spécifiques pour les TDS migrants à la condition qu’ils dénoncent leur réseau d’exploitation. Or nous savons que certaines victimes mettent leur vie ou celles de leur entourage en danger si elles dénoncent leur réseau. Par conséquent, nous demandons que des droits similaires soient ouverts à tous les TDS victimes de la traite des êtres humains à des fins d’exploitation sexuelle, qu’ils dénoncent leur réseau ou non, qu’ils soient migrants ou non."

              article.actuality__article
                h3.manifeste__subtitle
                  span.manifeste__number="03 /"
                  ="Hypocrisie, inadaptation, ambiguite et incohérence du système juridique actuel "
                p.manifeste__text="Alors que le travail du sexe est légal, nous constatons que le système juridique actuel pénalise toute organisation de celui-ci. Ce système nie l’existence pourtant bien réelle d’employeurs non problématiques. Ce système pénalise la publicité, le racolage et l’organisation collective du travail du sexe."

                p.manifeste__text="Ce système ne reconnaît pas un statut social et fiscal adapté(3) et ne garantit ni des conditions de travail décentes, équitables et justes, ni une médecine du travail adaptée. Il ne permet pas l’inscription auprès d’un syndicat. Il n’y a pas non plus de règlement de travail ni de convention collective qui donnent du pouvoir aux travailleurs du sexe par rapport à leurs employeurs. Dans certaines communes, la pénalisation du client met en danger les TDS en les obligeant à se cacher de la police"

              p.manifeste__citation="Une part importante des travailleurs sexuels prend la décision de travailler dans le commerce du sexe de son plein gré"

              article.actuality__article
                h3.manifeste__subtitle
                  span.manifeste__number="04 /"
                  ="Exploitation et insalubrité sur les lieux de travail"
                p.manifeste__text="Nous constatons le proxénétisme immobilier dont sont victimes certains travailleurs sexuels et l’ineffi cacité du système actuel pour lutter contre l’exploitation. L’insalubrité de certains lieux de travail et leur inadaptation aux activités qui s’y déroulent notamment lorsque l’existence de pratiques sexuelles n’est pas reconnue."

              article.actuality__article
                h3.manifeste__subtitle
                  span.manifeste__number="05 /"
                  ="Non prise en compte des risques de santé spécifiques"
                p.manifeste__text="Dans les bars, les serveuses n’ont pas accès à une médecine préventive adaptée."

              article.actuality__article
                h3.manifeste__subtitle
                  span.manifeste__number="06 /"
                  ="Travail du sexe et handicap"
                p.manifeste__text="La législation actuelle ne permet pas à une personne handicapée ayant besoin d’un tiers pour communiquer ou se déplacer de recourir à un travailleur du sexe."

              p.manifeste__citation="Nous constatons l’inefficacité du système actuel pour lutter contre l’exploitation"

        div.manifeste__section--change
            section.manifeste__section.manifeste__section--changer
              h3.manifeste__title="Proposition et revendication"
              article.actuality__article#legislation
                h4.manifeste__subtitle
                  ="Introduction"
                p.manifeste__text="Nos propositions s'inscrivent dans la perspective d'une réglementation du travail du sexe en opposition au système abolitionniste actuel et au système prohibitionniste qui cultivent l'utopie d'un projet de société sans prostitution impliquant une réinsertion forcée des tds."
                p.manifeste__text="Or cette société 'idéale' ne prend en compte ni les personnes prostituées travaillant de manière libre et indépendante, ni leur clients en recherche non seulement de sexe mais aussi de contacts humains, de tendresse, d'écoute etc."

              article.actuality__article#legislation
                h3.manifeste__subtitle
                  span.manifeste__number="01 /"
                  ="Changement des mentalités"
                p.manifeste__text="Nous voulons promouvoir la déstigmatisation des TDS et des clients à travers la mise en place de programmes éducatifs accessibles aux jeunes et aux adultes pour casser les préjugés et combattre les attitudes irrespectueuses."

              p.manifeste__citation="Nous ne voulons ni d’un système de tolérance passive qui favorise l’exploitation et l’insécurité ni d’un système répressiF qui moralise et clandestinise."

        div.askforus.askforus--comment
          section.commentaire
            h2.commentaire__title="Ils ont déja signer"

            div.commentaire__content
              span.commentaire__subject="Bravo à vous"
              p.commentaire__info="Daniel Tanner"
                time.commentaire__time="Le 23 Janvier 2017"
              p.commentaire__text="Je signe ce manifeste qui devrait être approuvé par l’UE. Si une législation européenne concernant les TDS et leurs clients(es) pouvait être mise en place, avec la participation des TDS, se rapprochant le plus possible de ce manifeste, il y aurait moins de traite des êtres humains, plus de sécurité physique et de santé pour les TDS et leurs clients(es). Malheureusement, au nom de la morale traditionnelle et/ou pour défendre les intérêts économiques des groupes organisés de la traite des êtres humains, les élus locaux et européens préfèrent maintenir l’arsenal juridique… Nous devons donc diffuser ce manifeste -comme toutes les revendications des TDS émanant des différents pays- si nous voulons faire progresser ce dossier dans le bon sens."

          section.askforus__section
            h2.askforus__title#signer="Signer le manifeste"
            form.askforus__form(method="post",action="/")
              fieldset
                legend.hidden="Formulaire de passage"
                div.askforus__left

                  label.askforus__label(for="name")="Nom"
                  input.askforus__input(type="text",name="nom",id="name",placeholder="Ex : Dupont ")
                  label.askforus__label(for="email")="Email"
                  input.askforus__input(type="email",name="email",id="email",placeholder="Ex : jean@dupont.be ")
                  label.askforus__label(for="subject")="Sujet"
                  input.askforus__input(type="text",name="subject",id="subject",placeholder="Ex : J'adhère complètement!")
                div.askforus__right
                  label.askforus__label(for="message")="Message : "
                  textarea.askforus__input.askforus__input--textarea(name="message",id="message")

                  input.askforus__submit(type="submit",value="Commenter")


        include template/_footer.pug
