doctype html
html(lang="fr")
    head
      <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
      <![endif]-->
        meta(charset="utf-8")
        meta(name="description", content="Espace P… | Association pour la défense des droits des personnes prostituées")
        meta(name="viewport",content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
        title= "EspaceP... - Sympathisant"
        link(rel='stylesheet', href='css/main.css', type='text/css')
    include template/header.pug

      main
        div.header__mainContainer
          section.choix
            h2.choix__title="Sympathisant"
            p.choix__subtitle="Vous êtes un sympathisant ou vous avez entendu parlé de nous par hasard et vous voulez en savoir plus sur notre association ou adhérez à notre manifeste, vous êtes au bon endroits"
          div.choix__image.choix__image--sympathisant
            p.hidden="Image représentant un homme qui est dans les bras d'une Travailleuse du sexe, plein de tendresse dans cette image"
